<h1>New Hospital</h1>
<%= form_for @hospital, :url=>{:action =>"create", :controller =>"hospital"} do |f| %>
<% if @hospital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hospital.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @hospital.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
<%= f.label :name %><br />
<%= f.text_field :name %>
</div>


<%= f.submit 'Create' %>

<% end %>
